.banner-text {
    width: 100%;
    height: 30px;
    background-color: #BF4825;
    color: #fff;
    margin-bottom: 10px
}


.img-slider {
    height: 90vh;
    .carousel-inner {
        height: 90vh!important;
        .carouser-item {
            height: 90vh!important;
            img {
                height: 100%;
            }
        }
    }
    
}

@media only screen and (max-width: 768px) {
    .img-slider {
        height: 300px;
        .carousel-inner {
            height: 300px!important;
            .carouser-item {
                height: 300px!important;
                img {
                    height: 100%;
                }
            }
        }
    }
  }