.lightgrey_bg_dashboard {
    background-color: rgb(242, 235, 235);
}

.bg_blue {
    background-color: #0061EB;
}

.bg_extradarkblue {
    background-color: #0a182a;
}

.bg_darkblue {
    background-color: #183153;
    color: #fff;
}

.bg_lightblue {
    background-color: #88A9D9;
}

.bg_darkgrey {
    background-color: #333333;
}

.bg_lightgrey {
    background-color: lightgrey;
}

.border_blue {
    border: 2px solid #0061EB;
}

.border_darkblue {
    border: 2px solid #183153;
}

.back_btn {
    width: 30px;
    height: 30px;
    background-color: #183153;
    border-radius: 100%;
    text-align: center;
    line-height: 29px;
    color: #fff;
  }

  .fl_left {
      float: left;
  }

  .role_menu_btn.active {
      background-color: #183153;
      color: #fff;
  }