.search-content {
    
}

.titolo-ski-rent {
    width: 50vw; 
    margin: 0 auto;
    h2 {
        color: #FE0000; 
        font-size: 60px; 
        font-family: 'Righteous', cursive; 
        font-style: italic;
    }
    p {
        font-size: 20px; 
    }
}

.desktop {
    display: block;
}

.mobile {
    display: none;
}

.form-noleggio {
    width: 50%; 
    min-height: 450px; 
    // border: 1px solid grey; 
    border-radius: 10px; 
    padding: 20px; 
    /*background-color: lightgrey;*/ 
    position: absolute; 
    top: 60%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    .bg-opacity {
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        /*background-color: #fff;
        opacity: 0.8;*/
    }
    
    // Level bar
    .level-bar {
        -webkit-appearance: none;
        width: 100%;
        height: 5px;
        background-color: #d3d3d3; 
        outline: none;
        border-radius: 20px;
        -webkit-transition: .2s;
        transition: opacity .2s;
      }
    
        .level-bar::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 5px;
        height: 20px;
        background-color: #BC0033;
        cursor: pointer;
      }
      .level-bar::-moz-range-thumb {
        width: 5px;
        height: 20px;
        background-color: #BC0033;
        cursor: pointer;
      }

}


.form-noleggio::after {
    content: '';
    display: table;
    clear: both;
}

.btn-continua {
    width: 100%; 
    background-color: #BC0033; 
    color: #fff; 
    font-weight: bold;
}

@media only screen and (max-width: 868px) { //768px
    .search-content {
        background-color: #fff;
    }

    .titolo-ski-rent {
        width: 80%;
        margin: 20px auto 50px auto;
        h2 {
            color: #FE0000; 
            font-size: 40px; 
            font-family: 'Righteous', cursive; 
            font-style: italic;
        }
        p {
            font-size: 15px; 
        }
    }

    .desktop {
        display: none;
    }
    
    .mobile {
        display: block;
    }

    .form-noleggio {
        width: 80%;
        top: 70%; 
        left: 50%; 
        transform: translate(-50%, -50%);
        .qvs-title {
            font-size: 24px;
        }
    }

    .btn-continua {
        width: 95%; 
        background-color: #BC0033; 
        color: #fff; 
        font-weight: bold;
    }

    .boots-img {
        display: block;
    }

    .ski-img {
        display: none;
    }

    .boots-img {
        display: none;
    }
}